---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from 'astro:content';
import Sidebar from '../../components/Sidebar.astro';
import ProjectLayout from "../../layouts/ProjectLayout.astro"
import { ViewTransitions } from "astro:transitions";

export const getStaticPaths =  async () => {
    const projects = await getCollection('project');
    const paths = projects.map(project => {
      return {params:{slug: project.slug}, props: { project}}
    })  
    return paths;
}


type Props = {
  project: CollectionEntry<"project">;
}


const anim = {
	old: {
	  name: 'test',
	  duration: '0.2s',
	  easing: 'linear',
	  fillMode: 'forwards',
	},
	new: {
	  name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'linear',
	  fillMode: 'backwards',
	}
  };
  
  const myFade = {
	forwards: anim,
	backwards: anim,
  };


const canonicalURL = new URL(Astro.url);
const { project } = Astro.props;
const { Content } = await project.render();


---

<ProjectLayout title = "Project Name">
	<Sidebar selected = "project"></Sidebar>
	<div class = "main-content pageTransitionIn "transition:animate={myFade}>
		<img src = {project.data.image} style = "border-radius: 15px; width: 90%; height: auto; margin-top: 20px;">
		
		<div style = "display:flex; flex-direction:column; width: 90%;font-size: 1.25rem; align-self: center;">
			<div style = "display: flex; flex-direction: row; justify-content: space-between">
				<div>
					<div>
						<h3>Platform</h3>
						<p>{project.data.platform}</p>
					</div>
					<div>
						<h3>Tools Used</h3>
						<p>{project.data.tools}</p>
					</div>
					<div>
						<h3>Duration</h3>
						<p>{project.data.duration}</p>
					</div>
					<div>
						<h3>Team Size</h3>
						<p>{project.data.teamSize}</p>
					</div>
					<div>
						<h3>Role</h3>
						<p>{project.data.role}</p>
					</div>
				</div>
				<div style = "max-width: 40%; ">
					<h3>Project Overview</h3>
					<p>{project.data.overview}</p>
				</div>
			</div>
			<div style = "display: flex; flex-direction: column; margin-top: 0px;">
				<h3 style = "">My Role</h3>
				<Content></Content>			
			</div>
		</div>
		
	</div>
</Layout>