---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import DevlogEntry from "../components/DevlogEntry.astro";
import Sidebar from "../components/Sidebar.astro";
import {getCollection, type CollectionEntry} from "astro:content";
import PaginationNavArrow from "../components/PaginationNavArrow.astro";

const paginationAmount = 5;
// splits the content collection into chunks and makes new pages for those chunks.
export const getStaticPaths = async () => {
	const paginationAmount = 5;
	const posts = await getCollection("posts");
	let count = posts.length;
	let pages : any[] = [];
	for(let i = 0; count > 0; count-= paginationAmount) {
		pages.push({params: {page: `dev${i}`},});
		i++;
	}
	return pages;
} 


function nearbyPages(pageNumber : number, collectionLength: number) : Array<number>
{
	const pages: Array<number> = [];
	if(pageNumber - 1 >= 0)
	{
		pages.push(pageNumber - 1);
	}
	pages.push(pageNumber);
	if(pageNumber + 1 < collectionLength / paginationAmount)
	{
		console.log(collectionLength % paginationAmount);
		pages.push(pageNumber + 1);
	}
	return pages;
}

const anim = {
  old: {
    name: 'test',
	  duration: '0.2s',
	  easing: 'cubic-bezier',
	  fillMode: 'forwards',
	},
	new: {
    name: 'test-reversed',
	  duration: '0.3s',
	  easing: 'cubic-bezier',
	  fillMode: 'backwards',
	}
};
  
const myFade = {
	forwards: anim,
	backwards: anim,
};



const canonicalURL = new URL(Astro.url);

const pageNumber = parseInt(canonicalURL.pathname.replace(/^[^\d]+/g, ''));
const startPoint = pageNumber * paginationAmount;
const endPoint = startPoint + paginationAmount;
console.log(canonicalURL.pathname.replace(/^[^\d]+/g, ''));
console.log(startPoint);
console.log(endPoint);

const posts = await getCollection("posts");

// Determines whether we should display the previous page button.
const draw_prev_button = (pageNumber > 0);
// deterimine whether we should display the next page button
const draw_next_button = (endPoint < posts.length);


//[...Array(5).keys()].map((p) => <PaginationNavArrow page_name={`dev${p}`} content = {p}></PaginationNavArrow>)
type Props = {
post_list: CollectionEntry<'posts'>[];
}

---
 
 <Layout title = "Devlog">
	<Sidebar selected = "devlog"></Sidebar>
	<div class = "main-content" transition:animate={myFade}>
		{
			posts.reverse()
			.slice(
				startPoint,
				endPoint
				)
				.map((p) => <DevlogEntry post={p}/>)
		}
		<div class = "pagination-nav-wrapper">
			<div style = "display:flex; flex-direction: row; justify-content:space-around; width: 20%; ">
				<PaginationNavArrow page_name={`dev0`} content = "&lt&lt"></PaginationNavArrow>
				{draw_prev_button &&
					<PaginationNavArrow page_name={`dev${pageNumber-1}`} content = "&lt"></PaginationNavArrow>
				}
				{
					nearbyPages(pageNumber, posts.length).map((p) => <PaginationNavArrow page_name={`dev${p}`} content = {`${p}`}></PaginationNavArrow>)
				}
				{draw_next_button && 
					<PaginationNavArrow page_name={`dev${pageNumber+1}`} content = "&gt"></PaginationNavArrow>
				}
				<PaginationNavArrow page_name={`dev${Math.floor(posts.length / paginationAmount)}`} content = "&gt&gt"></PaginationNavArrow>
			</div>
		</div>
	</div>
</Layout>